* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-left: 20px;
}

.member-image {
    margin: 15px;
    border-left: 1px solid #000;
}

.profile-image {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
    display: flex;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 70px 1fr;

}

.app-container {
    height: 50px;
    display: grid;
    grid-template-columns: 800px 150px 2fr;
    grid-template-rows: 1fr;
}


header {
    background-color: #8a2be8;
    grid-area: header;
}

nav {
    grid-area: navigation;
    background-color: #9932cc;
}

main {
    grid-area: main;
    
}

.main {
    display: grid;
}

.bell-icon {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social {
    height: 9.375em;
    width: 9.375em;
}

.widget-container-full,
.widget-container-half {
    width: 95vh;
}

.switch-candy {
    color: #fff;
    background-color: #8a2be8;
}

.button-primary,
.button-disabled {
    width: 25%;
    height: 50px;
    margin-top: 20px;
    color: #fff;
    background-color: #8a2be8;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-rows: 70px 75px 1fr;
    }
    .main {
        grid-template-columns: 50%;
    }

    .daily,
    .members,
    .social {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .traffic, 
    .social {
        grid-column: 1 / span 2;
    }

    .widget-container-full {
        width: 90vh;
    }

    .widget-container-half {
        width: 45vh;
    }
}

@media (min-width: 1024px) {
    header {
        grid-area: head;
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
    }

    .grid-container {
        grid-template-columns: 80px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: 
            "head head"
            "nav main";
    }

}